<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/5807771e6c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/chores.css" />
  </head>
  <body>
    <h1>Our Chores</h1>
    <a id="back" href="http://localhost:3000/">Back</a>

    <div class="users">
      <div class="user1">
        <h2><%= currentUser.user1 %></h2>
        <a href="/chores/new/user1chores">Add a Chore</a>
        <div class="chores">
          <% for(let i = 0; i < currentUser.user1chores.length; i++){ %>
          <li>
            <a href="/chores/user1chores/<%= i %>"
              ><%= currentUser.user1chores[i].name %></a
            >
          </li>
          <% } %>
        </div>
      </div>
      <div class="user2">
        <h2><%= currentUser.user2 %></h2>
        <a href="/chores/new/user2chores">Add a Chore</a>
        <div class="chores">
          <% for(let i = 0; i < currentUser.user2chores.length; i++){ %>
          <li>
            <a href="/chores/user2chores/<%= i %>"
              ><%= currentUser.user2chores[i].name %></a
            >
          </li>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
